html {
  margin:0px;
  padding:0px;
  vertical-align:top;
}

body 
{ 
    width:100%; 
    height:100%; 
    padding:0px;
    margin:0px;
    background:#acbae1;
    color:#3b3b3b;
}

a 
{ 
    text-decoration:none; 
    color:#ffffff;
}

a:hover { text-decoration:underline; }
a.brown { color:#cfaf64; }
a.red { color:#f08080; }
a.blue { color:#4169e1; }
a.white { color:#ffffff; }

header
{
  margin-top:-15px;
  padding:0px;
  height: 75px;
  line-height: 75px;
  text-align: center;
  background: #303e49;
  border-bottom:solid 3px #777;
}

section
{
  vertical-align:top !important;
}

#container
{
    position:relative;
    display:table;
    height:60%;
    width:100%;
}

.button {
  padding:1em; 
  border:outset 1px;
}

.button.writer { background-color:#e6d2a4; }
.button.writer.selected { border:#e6d2a4 solid 1px; }

.button.coder { background-color:#acbae1; }
.button.coder.selected { border:#acbae1 solid 1px; }

.button.sharer { background-color:#f0a1a1; }
.button.sharer.selected { border:#f0a1a1 solid 1px; }

.read-more {
  padding:0.8em 1em;
  font-size:13px;
  border-radius:0.25em;
  color:#ffffff;
  cursor:pointer;
}

#button-writer .read-more { background-color:#cfaf64; }
#button-writer .read-more:hover { background-color:#cfb383; }

#button-coder .read-more { background-color:#4169e1; }
#button-coder .read-more:hover { background-color:#6b89e1; }

#button-sharer .read-more { background-color:#f06666; }
#button-sharer .read-more:hover { background-color:#f06f6f; }

.menu
{
  display:table-row;
  width:100%;
  height: 150px;
  list-style:none;
  margin:0px;
  padding:0px;
  font:menu;
}

.menu li
{
  display:table-cell;
  vertical-align:top;
  height: 150px;
}

.menu h2
{
  padding:0px;
  margin:0px;
}

.third
{
    width:33.33%;
    display:table-cell;
    text-align:center;
    vertical-align:middle;
}

.hidden { display:none; }

.icon {
  float:left;
  width: 50px;
  height: 50px;
  border:solid 3px;
  border-radius:50%;
}

.icon.writer { background:#fff url('../img/iWrite.png') center no-repeat; }
.icon.coder { background:#fff url('../img/iCode.png') center no-repeat; }
.icon.sharer { background:#fff url('../img/iShare.png') center no-repeat; }

.portfolio {
  padding:0em 0.5em;
}

.legend {
  list-style:none;
  text-align:justify;
}

.legend li {
  display:inline;
  padding-left:30px;
  padding:2px 8px 2px 28px;
}

.legend span {
  display:inline-block;
  width: 20px;
  height: 20px;
  border-radius:5px;
  vertical-align:middle;
}

.links {
  list-style:none;
  margin:0px;
  padding:0em;
}

.links li {
  padding:0.75em 0em;
}

.links a { color:#000000; }
