/* CSS for the Timeline */
.timeline:before {
  content:'';
  position:absolute;
  top:0;
  left:9px;
  height:100%;
  width:4px;
}
article.coder .timeline:before { background:#4169e1; }
article.writer .timeline:before { background:#cfaf64; }
article.sharer .timeline:before { background:#f08080; }

.timeline {
  position:relative;
  padding:2em 0;
  margin-top:0em;
  margin-bottom:0em;
}

.timeline-point {
  position:absolute;
  top:0;
  left:0;
  width:20px;
  height:20px;
  border-radius:50%;
}

article.coder .timeline-point {
  border:#4169e1 solid 2px;
  background-color:#4169e1;
}

article.writer .timeline-point {
  border:#cfaf64 solid 2px;
  background-color:#cfaf64;
}

article.sharer .timeline-point {
  border:#f08080 solid 2px;
  background-color:#f08080;
}
.timeline-entry {
  position:relative;
  margin:2em 0;
}

.timeline-entry:after {
  content:'';
  display:table;
  clear:both;
}

.timeline-entry:first-child { margin-top:0; }
.timeline-entry:last-child { margin-bottom:-10; }

.timeline-content:before {
  content:'';
  position:absolute;
  top:8px;
  right:100%;
  height:0;
  width:0;
  border:10px solid transparent;
}

article.writer .timeline-content:before {
  border-right:13px solid #d4bb8f;
  margin-top:-0.75em;
}

article.coder .timeline-content:before {
  border-right:13px solid #6699ff;
  margin-top:-0.75em;
}

article.sharer .timeline-content:before {
  border-right:13px solid #f28d8d;
  margin-top:-0.75em;
}

.timeline-content {
  position:relative;
  margin-left:35px;
  background-color:#ffffff;
  border-radius:0.25em;
  color:#696969;
  box-shadow:0 3px 0 gray;
}

article.writer .timeline-content { border:#d4bb8f solid 4px; }
article.coder .timeline-content { border:#6699ff solid 4px; }
article.sharer .timeline-content { border:#f28d8d solid 4px; }

.timeline-content:after {
  content:'';
  display:table;
  clear:both;
}

.timeline-content h4 { 
  color:#303e49; 
}

.timeline-content .date {
  float:right;
  font-size: 13px;
  font-size: 0.8125rem;
  padding:0.25em;
  opacity: .7;
}
