<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery
	galleryTitle="Juicebox Lite Gallery"
>
  <image imageURL="images/season4all-book.jpeg"
	thumbURL="thumbs/season4all-book.jpeg"
	linkURL="images/season4all-book.jpeg"
	linkTarget="_blank">
  <caption><![CDATA[<u><a href="http://www.konga.com/a-season-for-all-things-damola-mabogunje-1357154" target="_blank">Buy</a></u>]]></caption>
  </image>
  <image imageURL="images/duet-book.jpeg"
	thumbURL="thumbs/duet-book.jpeg"
	linkURL="images/duet-book.jpeg"
	linkTarget="_blank">
  <caption><![CDATA[<u><a href="http://amvpublishingservices.com/pd-the.cfm" target="_blank">Buy</a></u>]]></caption>
  </image>
</juiceboxgallery>
