<script>
  jQuery(document).ready(function($) {
    /* jQuery RSS - https://github.com/sdepold/jquery-rss */
    $("#rss-feeds").rss(

      //Change this to your own rss feeds
      "{{ theme_config.rss_feed.url|join(', ') }}",

      {
        // how many entries do you want?
        // default: 4
        // valid values: any integer
        limit: '{{ theme_config.rss_feed.limit }}',

        // the effect, which is used to let the entries appear
        // default: 'show'
        // valid values: 'show', 'slide', 'slideFast', 'slideSynced', 'slideFastSynced'
        effect: '{{ theme_config.rss_feed.effect }}',

        // outer template for the html transformation
        // default: "<ul>{entries}</ul>"
        // valid values: any string
        layoutTemplate: "<div class='item'>{entries}</div>",


		// formats the date with moment.js (optional)
		// default: 'dddd MMM Do'
		// valid values: see http://momentjs.com/docs/#/displaying/
		dateFormat: '{{ theme_config.rss_feed.date_fmt }}',

		// formats the date in whatever manner you choose. (optional)
	    // this function should return your formatted date.
	    // this is useful if you want to format dates without moment.js.
	    // if you don't use moment.js and don't define a dateFormatFunction, the dates will
	    // not be formatted; they will appear exactly as the RSS feed gives them to you.
	    dateFormatFunction: function(date) {
            return moment(date).fromNow();
		},
		
		// localizes the date with moment.js (optional)
		// default: 'en'
		dateLocale: 'en-gb',

        // inner template for each entry
        // default: '<li><a href="{url}">[{author}@{date}] {title}</a><br/>{shortBodyPlain}</li>'
        // valid values: any string
        entryTemplate: '<h3 class="title"><a href="{url}" target="_blank">{title}</a><br /><small class="text-muted text-capitalize">{date}</small></h3><img src="{teaserImageUrl}" class="img-fluid"/><br/><div><p>{shortBodyPlain}...</p><a class="more-link" href="{url}" target="_blank"><i class="fa fa-external-link"></i>Read more</a></div>',
      }
    );
  });
</script>
