{% set collection = page.collection() %}

{% if collection | length %}
<ul class='list-unstyled'>
    {% for item in collection %}
    <li class='item'>
    <i class='fa fa-tv'></i>
    <a href='{{ item.header.link }}' target='_blank'>{{ item.header.title }}</a>
    </li>
    {% endfor %}
</ul>
{% endif %}
{{ page.content }}
