{% if theme_config.anime_feed %}
    <div id="anime-feed"></div>
    <p><a class="more-link" href="{{ theme_config.anime_feed.url }}" target="_blank"><i class="fa fa-external-link"></i> More on MyAnimeList</a></p>
{% endif %}

