{% set collection = page.collection() %}

{% if collection | length %}
  <ul class="list-unstyled">
    {% for item in collection %}
      <li>
        {% if item.header.link %}
          <a href="{{ item.header.link }}" target="_blank"><i class="fa fa-external-link"></i> {{ item.title }}</a>
        {% else %}
          {{ item.content }}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endif %}

<hr/>

<p>If you like this website, and are interested in having similar work done, feel free to contact me or <a href="https://tmc.com.ng" target="_blank">TMC</a>.</p>

<a class="btn btn-cta-secondary btn-follow" href="https://twitter.com/tmc_nig" target="_blank"><i class="fa fa-twitter"></i> Follow Us</a>

<a class="btn btn-cta-primary btn-download" href="{{ theme_config.resume }}" target="_blank"><i class="fa fa-download"></i> Download My Resume</a>
